<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Server.Properties.Settings.baza_danychConnectionString"
            connectionString="Data Source=bazadanychpus.database.windows.net;Initial Catalog=baza_danych;User ID=bazadanychpus_admin;Password=!Host0321;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>